/* Font Section  */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(245, 245, 245);
}

/* Shared Style */
.btn-one{
    width: 216px;
    height: 44px;
    padding: 13px 27px;
    margin: 19px 0px;
    border-radius: 8px;
    border: none;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
    color: rgb(255, 255, 255);
    background: rgb(0, 106, 80);
    cursor: pointer;
}
.btn-two{
    width: 97px;
    height: 32px;
    padding: 8px 16px;
    margin: 19px 0px;
    border-radius: 6px;
    border: none;
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-align: left;
    color: rgb(255, 255, 255);
    background: rgb(84, 144, 245);
    cursor: pointer;
}
.btn-three{
    background: rgb(9, 161, 92);
}
.btn-four{
    background: rgb(255, 194, 57);
}
.heading{
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    color: rgb(14, 14, 14);
    margin-bottom: 16px;
}

/* nav Section */
header nav{
    padding: 19px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(245, 245, 245);
}
header nav h1{
    font-family: Fira Sans;
    color: rgb(14, 14, 14);
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

header nav>button{
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
    padding: 12px 24px;
    margin: 0px 8px;
    border-radius: 8px;
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
}

/* Hero Section */
#hero{
    width: 1024px;
    height: 448px;
    margin: 0 128px;
    margin-top: 20px;
    margin-bottom: 80px;
   
}
#hero .hero-container{
    padding: 64px 80px;
    border-radius: 20px;
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}
.hero-content{
    width: 497px;
    height: 260px;
    gap: 19px;
}
#hero .hero-content .title{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
}
#hero .hero-content .subtitle{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 44px;
    font-weight: 700;
    line-height: 53px;
    text-align: left;
}
.hero-container .hero-image{
    width: 380;   
}
.hero-container .hero-image img{
    width: 100%;
    object-fit: cover;
}

/* Pillars Section */
#pillars{
    width: 1024px;
    height: 259px;
    margin: 64px 128px;
}
.card-container .card{
    width: 240px;
    height: 194px;
    padding: 19px;
    margin: 0 19px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 19px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 12px;
    background: rgb(255, 255, 255);
}
.card-container{
    display: flex;
}
.card-container .card-head{
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    color: rgba(14, 14, 14, 0.8);
}
.pillars-description{
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: rgba(14, 14, 14, 0.7);
}

/* Vision Section */
#visions{
    width: 1024px;
    margin: 64px 128px;
}
.v-card-container .v-card{
    width: 328px;
    height: 260px;
    padding: 25px;
    margin: 0px 19px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 19px;
    border-radius: 12px;
    background: rgba(84, 144, 245, 0.2);
}
.v-card-container .v-card-sec{
    background: rgb(198, 228, 214);
}
.v-card-container .v-card-thi{
    background: rgb(247, 235, 207);
}
.v-card-container{
    display: flex;
    margin-bottom: 25px;
}
.v-head{
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    color: rgba(14, 14, 14, 0.8);
}
.vision-description{
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: rgba(14, 14, 14, 0.7);
}
.space{
    margin-bottom: 25px;
}

/* Quotes Section */
.quotes{
    padding: 38px 19px;
    margin: 0px 19px;
    border-radius: 12px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 18px 12px;
.chief-adviser{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    margin-top: 9px;
    margin-bottom: 4px;
}
.chief-adviser-description{
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: rgba(14, 14, 14, 0.6);
}
.quotes-description{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

/* Footer Section */
footer{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}